f64_dblclick_period_sec           = 0.5;
bool_insert_spaces_for_tabs       = 1;
u8_spaces_per_tab                 = 2;
f32_lines_per_jump                = 3.0;
f32_px_column_spacing             = 8.0;
s8_scroll_sign                    = -1;
u8_scroll_nlines                  = 3;
bool_scroll_continuous            = 0;
f64_scroll_continuous_sensitivity = 10.0;
u8_px_cursor_w                    = 2;

f32_fontsize_normal = 0.1527777777777;
f32_scroll_pct      = 0.0152380952381;
f32_modeoutline_pct = 0.0028571428571;

f32_notification_lifetime = 4.0;

string_filename_font_normal = "c:/windows/fonts/consola.ttf";

bool_run_on_open_allowed = 0;
string_run_on_open = "c:/doc/dev/cpp/proj/main/exe/test.bat";
bool_run_on_open_show_window = 1;

string_findinfiles_ignored_file_extensions = "exe obj pdb db msi dll prf cdg lib ilk ipch svn-base pch appx a so apk zip 7z map";
string_fileopener_ignored_file_extensions  = "exe obj pdb db msi dll prf cdg lib ilk ipch svn-base pch appx a so apk zip 7z map";
string_fileopener_ignored_substrings       = ".vs .svn .git";
bool_fileopener_clear_search_on_switch     = 0;

rgba_mode_command                      = 0.0 , 1.0 , 0.0 , 1.0 ;
rgba_mode_edit                         = 1.0 , 0.0 , 0.0 , 1.0 ;
rgba_cwd                               = 0.4 , 1.0 , 0.4 , 1.0 ;
rgba_cursor_text                       = 1.0 , 0.5 , 0.5 , 1.0 ;
rgba_cursor_bkgd                       = 0.22, 0.22, 0.22, 1.0 ;
rgba_cursor_size_text                  = 1.0 , 0.6 , 0.6 , 1.0 ;
rgba_size_text                         = 0.6 , 0.6 , 0.6 , 1.0 ;
rgba_typesel_text                      = 1.0 , 0.0 , 0.0 , 1.0 ;
rgba_cursorline_bkgd                   = 0.22, 0.22, 0.22, 1.0 ;
rgba_cursor                            = 1.0 , 1.0 , 1.0 , 1.0 ;
rgba_selection_bkgd                    = 0.6 , 0.3 , 0.3 , 0.5 ;
rgba_wordmatch_bkgd                    = 0.3 , 0.5 , 0.3 , 0.8 ;
rgba_wordmatch_text                    = 0.84, 0.94, 0.84, 1.0 ;
rgba_text                              = 0.94, 0.94, 0.94, 1.0 ;
rgba_text_bkgd                         = 0.3 , 0.3 , 0.3 , 1.0 ;
rgba_scroll_bkgd                       = 0.2 , 0.2 , 0.2 , 1.0 ;
rgba_scroll_btn                        = 0.6 , 0.6 , 0.6 , 1.0 ;
rgba_notify_text                       = 0.94, 0.94, 0.94, 1.0 ;
rgba_notify_bkgd                       = 0.4 , 0.1 , 0.1 , 1.0 ;

keybind_app_switch_edit_from_cmd         = fn_1, ctrl ;
keybind_app_switch_cmd_from_edit         = fn_2, ctrl ;
keybind_app_toggle_kbcommand             = ctrl ;
keybind_app_switch_kbcommand_from_kbedit = tilde ;
keybind_app_quit                         = fn_4, alt ;

keybind_mode_switchopened_from_editfile          = w          , none, none, space ;
keybind_mode_editfile_findrepl_from_editfile     = f          , none, none, shift ;
keybind_mode_findinfiles_from_editfile           = f          , shift ;
keybind_mode_editfile_gotoline_from_editfile     = g          ;
keybind_mode_fileopener_from_editfile            = a          , none, none, shift ;

keybind_mode_editfile_from_fileopener            = tilde      ;
keybind_mode_fileopener_renaming_from_fileopener = r          ;

keybind_mode_editfile_from_editfile_findrepl     = tilde      ;
keybind_mode_editfile_from_editfile_gotoline     = tilde      ;
keybind_mode_editfile_from_switchopened          = tilde      ;
keybind_mode_editfile_from_findinfiles           = tilde      ;
keybind_mode_fileopener_from_fileopener_renaming = tilde      ;

keybind_editfile_swap_horz                   = m          , shift ;
keybind_editfile_swap_horzfocus              = m          ;
keybind_editfile_move_horz_l                 = comma      , shift ;
keybind_editfile_move_horz_r                 = period     , shift ;
keybind_editfile_toggle_horzview             = n          ;

keybind_editfile_findrepl_toggle_focus          = tab        ;
keybind_editfile_findrepl_toggle_case_sensitive = q          ;
keybind_editfile_findrepl_toggle_word_boundary  = w          ;
keybind_editfile_findrepl_find_l                = j          ;
keybind_editfile_findrepl_find_r                = l          ;
keybind_editfile_findrepl_repl_l                = i          ;
keybind_editfile_findrepl_repl_r                = k          ;

keybind_editfile_gotoline_choose = quote      ;

keybind_switchopened_choose = quote     ;

keybind_switchopened_closefile           = brace_l ;
keybind_switchopened_cursor_u            = i       , none, none, alt ;
keybind_switchopened_cursor_d            = k       ;
keybind_switchopened_cursor_page_u       = y       ;
keybind_switchopened_cursor_page_d       = h       ;
keybind_switchopened_scroll_u            = y       , alt, shift ;
keybind_switchopened_scroll_d            = h       , alt, shift ;
keybind_switchopened_scroll_page_u       = y       , alt, none, shift ;
keybind_switchopened_scroll_page_d       = h       , alt, none, shift ;
keybind_switchopened_make_cursor_present = none    ;

keybind_fileopener_recycle_file_or_dir = brace_l ;
keybind_fileopener_change_cwd_up       = i       , alt ;
keybind_fileopener_refresh             = fn_5    ;
keybind_fileopener_newfile             = n       ;
keybind_fileopener_newdir              = m       ;
keybind_fileopener_choose              = quote   ;
keybind_fileopener_focus_u             = tab     , shift ;
keybind_fileopener_focus_d             = tab     , none, none, shift ;
keybind_fileopener_cursor_u            = i       , none, none, alt ;
keybind_fileopener_cursor_d            = k       ;
keybind_fileopener_cursor_page_u       = y       ;
keybind_fileopener_cursor_page_d       = h       ;
keybind_fileopener_scroll_u            = y       , alt, shift ;
keybind_fileopener_scroll_d            = h       , alt, shift ;
keybind_fileopener_scroll_page_u       = y       , alt, none, shift ;
keybind_fileopener_scroll_page_d       = h       , alt, none, shift ;

keybind_fileopener_renaming_apply = quote     ;

keybind_externalmerge_discard_local_changes = d          ;
keybind_externalmerge_keep_local_changes    = k          ;

keybind_findinfiles_replace_at_cursor     = r     , none, none, shift ;
keybind_findinfiles_replace_all           = r     , shift ;
keybind_findinfiles_refresh               = fn_5  ;
keybind_findinfiles_choose                = quote ;
keybind_findinfiles_focus_u               = tab   , shift ;
keybind_findinfiles_focus_d               = tab   , none, none, shift ;
keybind_findinfiles_cursor_u              = i     , none, none, alt ;
keybind_findinfiles_cursor_d              = k     ;
keybind_findinfiles_cursor_page_u         = y     ;
keybind_findinfiles_cursor_page_d         = h     ;
keybind_findinfiles_scroll_u              = y     , alt, shift ;
keybind_findinfiles_scroll_d              = h     , alt, shift ;
keybind_findinfiles_scroll_page_u         = y     , alt, none, shift ;
keybind_findinfiles_scroll_page_d         = h     , alt, none, shift ;
keybind_findinfiles_toggle_case_sensitive = q     ;
keybind_findinfiles_toggle_word_boundary  = w     ;

keybind_save    = s          , none , none, shift ;
keybind_saveall = s          , shift ;


keybind_txt_copy                = c          ;
keybind_txt_cut                 = x          ;
keybind_txt_paste               = v          ;
keybind_txt_txt_undo            = z          , none, none, shift ;
keybind_txt_txt_redo            = z          , shift ;
keybind_txt_cs_undo             = minus      , none, none, shift ;
keybind_txt_cs_redo             = minus      , shift ;
keybind_txt_toggle_insertmode   = insert     ;
keybind_txt_tab_r               = tab        , none, none, shift ;
keybind_txt_tab_l               = tab        , shift ;
keybind_txt_rem_ch_l            = enter      , none, none, alt ;
keybind_txt_rem_ch_r            = brace_l    , none, none, alt ;
keybind_txt_rem_word_l          = enter      , alt ;
keybind_txt_rem_word_r          = brace_l    , alt ;
keybind_txt_rem_line_r          = e          , none, none, shift ;
keybind_txt_comment_selection   = num_2      , none, none, shift ;
keybind_txt_uncomment_selection = num_2      , shift ;
keybind_txt_ln_add              = quote      ;
keybind_txt_ln_rem              = d          ;
keybind_txt_ln_comment_toggle   = none       ;
keybind_txt_ln_comment          = num_1      , none, none, shift ;
keybind_txt_ln_uncomment        = num_1      , shift ;
keybind_txt_ln_permute_u        = i          , alt, none, ctrl, shift ;
keybind_txt_ln_permute_d        = k          , alt, none, ctrl, shift ;
keybind_txt_rem_trailspace      = e          , shift ;
keybind_txt_cursor_l            = j , none, none, shift, ctrl, alt ;
keybind_txt_cursor_r            = l , none, none, shift, ctrl, alt ;
keybind_txt_cursor_u            = i , none, none, shift, ctrl, alt ;
keybind_txt_cursor_d            = k , none, none, shift, ctrl, alt ;
keybind_txt_cursor_home         = u , none, none, shift, ctrl, alt ;
keybind_txt_cursor_end          = o , none, none, shift, ctrl, alt ;
keybind_txt_cursor_page_d       = h , none, none, shift, ctrl, alt ;
keybind_txt_cursor_page_u       = y , none, none, shift, ctrl, alt ;
keybind_txt_cursor_skip_l       = j , alt, none, shift ;
keybind_txt_cursor_skip_r       = l , alt, none, shift ;
keybind_txt_select_l            = j , shift, none, ctrl, alt ;
keybind_txt_select_r            = l , shift, none, ctrl, alt ;
keybind_txt_select_u            = i , shift, none, ctrl, alt ;
keybind_txt_select_d            = k , shift, none, ctrl, alt ;
keybind_txt_select_home         = u , shift, none, ctrl, alt ;
keybind_txt_select_end          = o , shift, none, ctrl, alt ;
keybind_txt_select_page_d       = h , shift, none, ctrl, alt ;
keybind_txt_select_page_u       = y , shift, none, ctrl, alt ;
keybind_txt_select_skip_l       = j , alt, shift ;
keybind_txt_select_skip_r       = l , alt, shift ;
keybind_txt_scroll_d            = h , alt, shift ;
keybind_txt_scroll_u            = y , alt, shift ;
keybind_txt_select_all          = a , shift ;
keybind_txt_cursor_make_present = none ;
keybind_txt_scroll_page_d       = h , alt, none, shift ;
keybind_txt_scroll_page_u       = y , alt, none, shift ;
keybind_txt_multicursor_d       = k , shift, alt, ctrl ;
keybind_txt_multicursor_u       = i , shift, alt, ctrl ;

keybind_cmd_execute = quote ;

keybind_type_a  = a, none, none, shift ;
keybind_type_b  = b, none, none, shift ;
keybind_type_c  = c, none, none, shift ;
keybind_type_d  = d, none, none, shift ;
keybind_type_e  = e, none, none, shift ;
keybind_type_f  = f, none, none, shift ;
keybind_type_g  = g, none, none, shift ;
keybind_type_h  = h, none, none, shift ;
keybind_type_i  = i, none, none, shift ;
keybind_type_j  = j, none, none, shift ;
keybind_type_k  = k, none, none, shift ;
keybind_type_l  = l, none, none, shift ;
keybind_type_m  = m, none, none, shift ;
keybind_type_n  = n, none, none, shift ;
keybind_type_o  = o, none, none, shift ;
keybind_type_p  = p, none, none, shift ;
keybind_type_q  = q, none, none, shift ;
keybind_type_r  = r, none, none, shift ;
keybind_type_s  = s, none, none, shift ;
keybind_type_t  = t, none, none, shift ;
keybind_type_u  = u, none, none, shift ;
keybind_type_v  = v, none, none, shift ;
keybind_type_w  = w, none, none, shift ;
keybind_type_x  = x, none, none, shift ;
keybind_type_y  = y, none, none, shift ;
keybind_type_z  = z, none, none, shift ;
keybind_type_A  = a, shift ;
keybind_type_B  = b, shift ;
keybind_type_C  = c, shift ;
keybind_type_D  = d, shift ;
keybind_type_E  = e, shift ;
keybind_type_F  = f, shift ;
keybind_type_G  = g, shift ;
keybind_type_H  = h, shift ;
keybind_type_I  = i, shift ;
keybind_type_J  = j, shift ;
keybind_type_K  = k, shift ;
keybind_type_L  = l, shift ;
keybind_type_M  = m, shift ;
keybind_type_N  = n, shift ;
keybind_type_O  = o, shift ;
keybind_type_P  = p, shift ;
keybind_type_Q  = q, shift ;
keybind_type_R  = r, shift ;
keybind_type_S  = s, shift ;
keybind_type_T  = t, shift ;
keybind_type_U  = u, shift ;
keybind_type_V  = v, shift ;
keybind_type_W  = w, shift ;
keybind_type_X  = x, shift ;
keybind_type_Y  = y, shift ;
keybind_type_Z  = z, shift ;
keybind_type_0               = num_0, none, none, shift ;
keybind_type_1               = num_1, none, none, shift ;
keybind_type_2               = num_2, none, none, shift ;
keybind_type_3               = num_3, none, none, shift ;
keybind_type_4               = num_4, none, none, shift ;
keybind_type_5               = num_5, none, none, shift ;
keybind_type_6               = num_6, none, none, shift ;
keybind_type_7               = num_7, none, none, shift ;
keybind_type_8               = num_8, none, none, shift ;
keybind_type_9               = num_9, none, none, shift ;
keybind_type_paren_r         = num_0, shift ;
keybind_type_exclamation     = num_1, shift ;
keybind_type_atsign          = num_2, shift ;
keybind_type_pound           = num_3, shift ;
keybind_type_dollar          = num_4, shift ;
keybind_type_percent         = num_5, shift ;
keybind_type_caret           = num_6, shift ;
keybind_type_ampersand       = num_7, shift ;
keybind_type_star            = num_8, shift ;
keybind_type_paren_l         = num_9, shift ;
keybind_type_numpad_div      = numpad_div     ;
keybind_type_numpad_mul      = numpad_mul     ;
keybind_type_numpad_sub      = numpad_sub     ;
keybind_type_numpad_add      = numpad_add     ;
keybind_type_numpad_decimal  = numpad_decimal ;
keybind_type_numpad_0        = numpad_0       ;
keybind_type_numpad_1        = numpad_1       ;
keybind_type_numpad_2        = numpad_2       ;
keybind_type_numpad_3        = numpad_3       ;
keybind_type_numpad_4        = numpad_4       ;
keybind_type_numpad_5        = numpad_5       ;
keybind_type_numpad_6        = numpad_6       ;
keybind_type_numpad_7        = numpad_7       ;
keybind_type_numpad_8        = numpad_8       ;
keybind_type_numpad_9        = numpad_9       ;
keybind_type_tilde           = fn_1           , none, none, shift ;
keybind_type_minus           = minus          , none, none, shift ;
keybind_type_equals          = equals         , none, none, shift ;
keybind_type_bracketsquare_l = brace_l        , none, none, shift ;
keybind_type_bracketsquare_r = brace_r        , none, none, shift ;
keybind_type_slashback       = slash_back     , none, none, shift ;
keybind_type_slashforw       = slash_forw     , none, none, shift ;
keybind_type_semicolon       = semicolon      , none, none, shift ;
keybind_type_quotesingle     = backspace      , none, none, shift ;
keybind_type_comma           = comma          , none, none, shift ;
keybind_type_period          = period         , none, none, shift ;
keybind_type_graveaccent     = fn_1           , shift ;
keybind_type_underscore      = minus          , shift ;
keybind_type_plus            = equals         , shift ;
keybind_type_bracketcurly_l  = brace_l        , shift ;
keybind_type_bracketcurly_r  = brace_r        , shift ;
keybind_type_verticalbar     = slash_back     , shift ;
keybind_type_question        = slash_forw     , shift ;
keybind_type_colon           = semicolon      , shift ;
keybind_type_quotedouble     = backspace      , shift ;
keybind_type_bracketangle_l  = comma          , shift ;
keybind_type_bracketangle_r  = period         , shift ;
keybind_type_space           = space          ;
